.cards {
  margin: 23px 0px;
  @media screen and (min-width: 768px) {
    margin: 50px 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

.invisible{
  display: none;
  visibility: hidden;
}

.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card {
  width: 293px;
  height: 392px;
  padding: 15px 31px 21px;
  border-radius: 20px;
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 262px;
    height: 352px;
    padding: 12px 16px 17px;
  }
  @media screen and (min-width: 1200px) {
    padding: 15px 20px 21px;
    width: 320px;
    height: 430px;
  }
}

.position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 11px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}

.img {
  width: 83px;
  height: 83px;
  @media screen and (min-width: 768px) {
    width: 76px;
    height: 76px;
  }
  @media screen and (min-width: 1200px) {
    width: 120px;
    height: 120px;
  }
}

#heart{
  color: orangered;
}

.city {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #000;
  display: block;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.country {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: #000;
  display: block;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.dateContainer {
  width: 120px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
  @media screen and (min-width: 1200px) {
    width: 135px;
    display: flex;
    gap: 13px;
    margin-top: 20px;
  }
}

.time {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.date {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: #000;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.weekday {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #000;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.temperature {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #000;
  margin-bottom: 44px;
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 32px;
    margin-bottom: 39px;
  }
}

.svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition-duration: 250ms;
  @media screen and (min-width: 1200px) {
    width: 30px;
    height: 30px;
  }
}

.svg:hover {
  transition-duration: 250ms;
  transform: translateY(3px);
}

.divider {
  border: 1px solid #000;
  height: 14px;
  @media screen and (min-width: 1200px) {
    height: 17px;
  }
}

.vidgets {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    gap: 20px;
  }
}

.buttons {
  display: flex;
  gap: 21px;
  @media screen and (min-width: 1200px) {
    gap: 25px;
  }
}
