.dayForecast{
    height: 557px;
    background: #e8e8e8;
    border-radius: 20px;
    margin-top: 80px;
    padding: 40px;
}

.title{
    font-family: "Montserrat";
font-weight: 600;
font-size: 16px;
color: #000;
}