.list {
  border-radius: 20px;
  width: 100%;
  height: 1205px;
  background: #e8e8e8;
  padding: 40px 77px;
  display: flex;
  column-gap: 58px;
  flex-wrap: wrap;
  row-gap: 40px;
  @media screen and (min-width: 768px) {
    height: 490px;
    padding: 30px;
    row-gap: 30px;
    column-gap: 21px;
  }
  @media screen and (min-width: 1200px) {
    height: 554px;
    justify-content: center;
  }
}

.item {
  border-radius: 10px;
  border-radius: 10px;
  width: 207px;
  height: 160px;
  background: #d9d9d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media screen and (min-width: 768px) {
    width: 177px;
    height: 200px;
    padding: 10px 60px 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 290px;
    height: 217px;
  }
}

.img {
  width: 60px;
  height: 60px;
  @media screen and (min-width: 1200px) {
    width: 85px;
    height: 85px;
  }
}

.text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.info {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}
