.list{
    border-radius: 20px;
width: 100%;
height: 554px;
background: #e8e8e8;
padding: 40px 77px;
display: flex;
column-gap: 58px;
flex-wrap: wrap;
row-gap: 40px;
}

.item{
    border-radius: 10px;
width: 290px;
height: 217px;
background: #d9d9d9;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.img{
    width: 85px;
height: 85px;
}

.text{
    font-family: "Montserrat";
font-weight: 500;
font-size: 16px;
text-align: center;
color: #000;
}

.info{
font-weight: 500;
font-size: 32px;
text-align: center;
color: #000;
}