.footer {
  background-color: #ffb36c;
  height: 212px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    min-height: 163px;
    height: 100%;
  }
  @media screen and (min-width: 1200px) {
      margin-top: 50px;
    height: 179px;
  }
}

.footerContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 75px;
  row-gap: 25px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.logo {
  width: 50px;
  height: 34px;
  @media screen and (min-width: 768px) {
    width: 58px;
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 90px;
    height: 62px;
  }
}

.addresBox {
  display: flex;
  flex-direction: column;
  margin: 0 103px;
  width: 67px;
  height: 60px;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 68px;
  }
  @media screen and (min-width: 1200px) {
    width: 100px;
    height: 75px;
  }
}

.addresName {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 12px;
  color: #000;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.addresText {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 8px;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.contactLogo {
  width: 35px;
  height: 35px;
  transition-duration: 250ms;
  &:hover {
    transform: scale(1.1);
  }
  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}

.socialBox {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    margin-bottom: 0px;
  }
}

.contactList {
  display: flex;
  gap: 20px;
}

.box {
  display: flex;
}
