.footer{
    background-color: #FFB36C;
    height: 179px;
        display: flex;
        align-items: center;
}

.footerContainer{
        display: flex;
        align-items: center;
}

.logo{
    width: 90px;
height: 62px;
}

.addresBox{
    display: flex;
    flex-direction: column;
    margin: 0 103px;
}

.addresName{
    font-family: 'Montserrat Alternates';
font-weight: 500;
font-size: 16px;
color: #000;
}

.addresText{
    font-family: 'Montserrat Alternates';
font-weight: 500;
font-size: 12px;
color: #000;
}

.contactLogo{
    width: 40px;
height: 40px;
transition-duration: 250ms;
}


.contactList{
    display: flex;
    gap: 20px;
}