.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  @media screen and (min-width: 768px) {
    visibility: visible;
    height: 70px;
  }
  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}

.arrow {
  visibility: visible;
  height: 9px;
  width: auto;
  transition-duration: 250ms;
  @media screen and (min-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.logo {
  width: 34px;
  height: 22px;
  @media screen and (min-width: 768px) {
    visibility: visible;
    width: 54px;
    height: 36px;
  }
  @media screen and (min-width: 1200px) {
    width: 82px;
    height: 56px;
  }
}

.list {
  display: none;
  visibility: hidden;

  @media screen and (min-width: 768px) {
    visibility: visible;
    display: flex;
    gap: 42px;
    margin-left: 57px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 111px;
  }
}

.itemLink {
  display: block;
  visibility: visible;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 10px;
  color: #000;
  transition-duration: 250ms;
  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.itemLink:hover {
  color: #ffb36c;
  transition-duration: 250ms;
  border-bottom: #ffb36c 2px solid;
}

.userBox {
  visibility: hidden;
  display: none;
  @media screen and (min-width: 768px) {
    visibility: visible;
    margin-left: 153px;
    gap: 25px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 27px;
    margin-left: 519px;
  }
}

.user {
  visibility: visible;
  height: 40px;
  width: 40px;
  @media screen and (min-width: 1200px) {
    height: 50px;
    width: 50px;
  }
}

.mobInterface {
  visibility: visible;
  width: auto;
  display: flex;
  gap: 5px;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.textInterface {
  visibility: visible;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 10px;
  color: #000;
  @media screen and (min-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.mobMenu {
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  background: #e6e6e6;
  padding: 30px 50px;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  @media screen and (min-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.mobItemLink {
  display: block;
  visibility: visible;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 10px;
  color: #000;
  transition-duration: 250ms;
}

.mobItemLink:hover {
  color: #e4e4e4;
  transition-duration: 250ms;
  border-bottom: #e4e4e4 2px solid;
}

.mobList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobUserBox {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column-reverse;
}

.itemLinkName {
  display: block;
  visibility: visible;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 10px;
  color: #000;
  transition-duration: 250ms;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.itemLinkName:hover {
  color: #ff0000;
  transition-duration: 250ms;
  border-bottom: #ff0000 2px solid;
}

.boxName {
  display: flex;
  align-items: center;
  gap: 5px;
}

.treshName {
  width: 15px;
  height: 15px;
  visibility: hidden;
  display: none;
  transition-duration: 250ms;
  cursor: pointer;
}

.boxName:hover .treshName {
  color: #ff0000;
  transition-duration: 250ms;
  visibility: visible;
  display: block;
}
