.heroBackground {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)),
    url('../img/hero-background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 345px;
  font-family: 'Montserrat';
  @media screen and (min-width: 1200px) {
    height: 595px;
  }
}

.hero {
  padding: 50px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding: 40px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 100px 0px;
  }
}

.title {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.box {
  display: flex;
  height: 80px;
  gap: 20px;
  margin-top: 35px;
  margin-bottom: 48px;
  position: relative;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    height: 110px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 36px;
    justify-content: start;
    align-self: stretch;
    margin-top: 40px;
    margin-bottom: 64px;
    padding-left: 111px;
  }

  @media screen and (min-width: 1200px) {
    height: 114px;
    gap: 52px;
    margin-left: 173px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.text {
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  line-height: 1.1;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.line {
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: -25px;
  height: 100%;
  @media screen and (min-width: 768px) {
    position: unset;
    border: 2px solid #fff;
    height: 100%;
  }
}

.form {
  border-radius: 10px;
  width: 174px;
  height: 15px;
  background: #d9d9d9;
  display: flex;
  @media screen and (min-width: 768px) {
    width: 402px;
    height: 27px;
  }
  @media screen and (min-width: 1200px) {
    width: 625px;
    height: 42px;
  }
}

.input {
  border-radius: 10px;
  max-width: 580px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 6px;
  color: #878787;
  padding: 3px 10px;
  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    padding: 13px 29px;
  }
}

.svg {
  width: 8px;
  height: 8px;
}

@media screen and (min-width: 768px) {
  .svg {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .svg {
    width: 25px;
    height: 25px;
  }
}

.button {
  border-left: 2px solid #000;
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 100%;
}
