.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    border-radius: 25px;
width: 600px;
height: 534px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 80px 27px;
}

.title{
font-family: "Montserrat Alternates";
font-weight: 500;
font-size: 28px;
color: #000;
}