.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.modal{
    border-radius: 25px;
width: 600px;
height: 534px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 28px 80px;
}

.title{
font-family: "Montserrat Alternates";
font-weight: 500;
font-size: 28px;
color: #000;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 35px;
}

.item{
    width: 440px;
height: 82px;
display: flex;
gap: 15px;
flex-direction: column;
}

.input{
    border-radius: 10px;
width: 100%;
height: 50px;
}

.text{
font-family: "Montserrat Alternates";
font-weight: 500;
font-size: 10px;
color: #000;
}

.link{
    text-decoration: underline;
text-decoration-skip-ink: none;
}