.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition-duration: 250ms;
}

.modal {
  border-radius: 25px;
  width: 293px;
  height: 454px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px 22px 40px;
  @media screen and (min-width: 768px) {
    width: 400px;
    height: 440px;
  }
  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 534px;
    padding: 28px 80px;
  }
}

.title {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 17px;
  @media screen and (min-width: 1200px) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    gap: 30px;
    margin-bottom: 35px;
  }
}

.item {
  width: 243px;
  height: 70px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 310px;
  }
  @media screen and (min-width: 1200px) {
    width: 440px;
    height: 82px;
  }
}

.label {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.input {
  border-radius: 10px;
  width: 100%;
  height: 50px;
}

.text {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 8px;
  color: #000;
  @media screen and (min-width: 1200px) {
    font-size: 10px;
  }
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
