.title{
    font-family: "Montserrat";
font-weight: 500;
font-size: 20px;
color: #000;
}

.nature{
        display: none;
    visibility: hidden;
  @media screen and (min-width: 1200px) {
                visibility: visible;
                display: block;
  }
}