.img{
    border-radius: 10px;
min-width: 270px;
height: 208px;
}

.title{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
color: #000;
margin-bottom: 40px;
}

.list{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 20px;
}

.text{
    font-family:"Montserrat";
font-weight: 500;
font-size: 16px;
color: #000;
}