.weekForecast {
  margin-top: 80px;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 10px;
  color: #000;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.weekForecastContainer {
  border-radius: 20px;
  width: 100%;
  height: auto;
  background: #e8e8e8;
  padding: 18px 25px 35px;
    @media screen and (min-width: 768px) {
   padding: 20px 35px 35px;
  }
      @media screen and (min-width: 1200px) {
   padding: 26px 77px 40px;
  }
}

.list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  column-gap: 43px;
  row-gap: 35px;
  @media screen and (min-width: 768px) {
    gap: 17px;
      flex-direction: column;
  }
}

.item {
  border-radius: 10px;
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 10px 27px 22px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
width: 100px;
height: 140px;
    @media screen and (min-width: 768px) {
          padding: 0px 50px;
    height: 40px;
    width: auto;
    flex-direction: row;
  }
      @media screen and (min-width: 1200px) {
    height: 47px;
  }
}

.text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  color: #000;
    @media screen and (min-width: 768px) {
    font-size: 14px;
  }
      @media screen and (min-width:1200px) {
    font-size: 16px;
  }
}

.info {
  display: flex;
  gap: 7px;
  align-items: center;
  flex-direction: column;
      @media screen and (min-width: 768px) {
          gap: 12px;
          flex-direction: row;
  }
}

.img {
width: 40px;
height: 40px;
    @media screen and (min-width: 768px) {
width: 35px;
height: 35px;
  }
    @media screen and (min-width: 1200px) {
  width: 60px;
  height: 60px;
  }
}
