.weekForecast{
margin-top: 80px;
}

.title{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 16px;
color: #000;
margin-bottom: 20px;
}

.weekForecastContainer{
    border-radius: 20px;
width: 100%;
height: auto;
background: #e8e8e8;
padding: 26px 77px 40px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.item{
    border-radius: 10px;
width: 100%;
height: 47px;
background: #d9d9d9;
display: flex;
justify-content: space-between;
padding: 0px 50px;
align-items: center;
}

.text{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 16px;
color: #000;
}

.info{
    display: flex;
    gap: 12px;
    align-items: center;
}

.img{
    width: 60px;
height: 60px;
}