.weekForecast{
margin-top: 80px;
}

.title{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 16px;
color: #000;
margin-bottom: 20px;
}

.weekForecastContainer{
    border-radius: 20px;
width: 100%;
height: 554px;
background: #e8e8e8;
padding: 26px 77px 40px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.item{
    border-radius: 10px;
width: 100%;
height: 47px;
background: #d9d9d9;
}