@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  display: block;
  max-width: 100%;
}
input {
  outline: none;
  border: none;
}

.container {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  @media screen and (min-width: 768px) {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 704px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1184px;
      padding-left: 150px;
  padding-right: 150px;
  }
}
